body {
    background-color: #001F3F;
}

.headings {
    color: #FFD700;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

a {
    color: white;
    align-items: center;
}

.background-square {
    background-color: #023a71;
}

.lists {
    color: white;
    text-align: center;
}

#headshot {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#experience-div {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.flexbox {
    padding: 10px;
    margin: 20px;
}